# 01 – Data Quality Assessment

This notebook analyses the raw credit application dataset for data quality issues across the following dimensions:

- Completeness
- Consistency
- Validity
- Accuracy

All issues are quantified (counts and percentages) and mapped to governance implications.

## 1. Data Loading & Structural Inspection
- Load raw JSON
- Inspect nested structure
- Examine column names and data types

## 2. Completeness Analysis
- Missing values per column
- Incomplete nested objects
- % affected records

## 3. Consistency & Type Validation
- Data type mismatches
- Inconsistent categorical encoding (e.g., gender formats)
- Date format inconsistencies

## 4. Validity Checks
- Impossible values (e.g., negative income, negative credit history)
- Logical inconsistencies (e.g., interest rate assigned when rejected)

## 5. Duplicate Record Detection

## 6. Remediation Strategy
- Cleaning logic
- Standardisation decisions
- Governance implications

In [5]:
import pandas as pd
import seaborn as sns
import fairlearn
print("Environment is ready!")

Environment is ready!

In [7]:
import json

# Load the raw JSON dataset
with open('../data/raw_credit_applications.json', 'r') as file:
    raw_data = json.load(file)

# Flatten 1:1 nested objects (applicant_info, financials, decision)
# The spending_behavior array remains intact as a list of dictionaries
df = pd.json_normalize(raw_data)

# Display data structure to verify successful flattening
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   _id                               502 non-null    object
 1   spending_behavior                 502 non-null    object
 2   processing_timestamp              62 non-null     object
 3   applicant_info.full_name          502 non-null    object
 4   applicant_info.email              502 non-null    object
 5   applicant_info.ssn                497 non-null    object
 6   applicant_info.ip_address         497 non-null    object
 7   applicant_info.gender             501 non-null    object
 8   applicant_info.date_of_birth      501 non-null    object
 9   applicant_info.zip_code           501 non-null    object
 10  financials.annual_income          497 non-null    object
 11  financials.credit_history_months  502 non-null    int64
 12  financials.debt_to_income         502 non-null    float64
 13  financials.savings_balance        502 non-null    int64
 14  decision.loan_approved            502 non-null    bool
 15  decision.rejection_reason         210 non-null    object
 16  loan_purpose                      50 non-null     object
 17  decision.interest_rate            292 non-null    float64
 18  decision.approved_amount          292 non-null    float64
 19  financials.annual_salary          5 non-null      float64
 20  notes                             2 non-null      object
dtypes: bool(1), float64(4), int64(2), object(14)
memory usage: 79.1+ KB

,_id,spending_behavior,processing_timestamp,applicant_info.full_name,applicant_info.email,applicant_info.ssn,applicant_info.ip_address,applicant_info.gender,applicant_info.date_of_birth,applicant_info.zip_code,...,financials.credit_history_months,financials.debt_to_income,financials.savings_balance,decision.loan_approved,decision.rejection_reason,loan_purpose,decision.interest_rate,decision.approved_amount,financials.annual_salary,notes
0,app_200,"[{'category': 'Shopping', 'amount': 480}, {'ca...",2024-01-15T00:00:00Z,Jerry Smith,jerry.smith17@hotmail.com,596-64-4340,192.168.48.155,Male,2001-03-09,10036,...,23,0.20,31212,False,algorithm_risk_score,NaN,NaN,NaN,NaN,NaN
1,app_037,"[{'category': 'Rent', 'amount': 608}, {'catego...",NaN,Brandon Walker,brandon.walker2@yahoo.com,425-69-4784,10.1.102.112,M,1992-03-31,10032,...,51,0.18,17915,False,algorithm_risk_score,NaN,NaN,NaN,NaN,NaN
2,app_215,"[{'category': 'Rent', 'amount': 109}]",NaN,Scott Moore,scott.moore94@mail.com,370-78-5178,10.240.193.250,Male,1989-10-24,10075,...,41,0.21,37909,True,NaN,vacation,3.7,59000.0,NaN,NaN
3,app_024,"[{'category': 'Fitness', 'amount': 575}]",NaN,Thomas Lee,thomas.lee6@protonmail.com,194-35-1833,192.168.175.67,Male,1983-04-25,10077,...,70,0.35,0,True,NaN,NaN,4.3,34000.0,NaN,NaN
4,app_184,"[{'category': 'Entertainment', 'amount': 463}]",2024-01-15T00:00:00Z,Brian Rodriguez,brian.rodriguez86@aol.com,480-41-2475,172.29.125.105,M,1999-05-21,10080,...,14,0.23,31763,False,algorithm_risk_score,NaN,NaN,NaN,NaN,NaN